<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.venteran">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_image_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_image_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Venteran">
        <activity
            android:name=".Loading"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".specificchat"
            android:exported="true" >

        </activity>
        <activity
            android:name=".setProfile"
            android:exported="false" />
        <activity
            android:name=".otpAuthentication"
            android:exported="false" />
        <activity
            android:name=".Registration"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>